@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/functions' as func;

.page-title {
    display: flex;
    justify-content: flex-start;
    padding: 0 func.size-to-vw($mobile, 320/375 * 26px);
    
    @include instock-mobile-up {
        padding: 0 func.size-to-vw($mobile-instock, 320/375 * 24px);
    }

    @include tablet-up {
        padding: 0 func.size-to-vw($tablet, 320/375 * 32px);
    }

    @include laptop-up {
        padding: 0 func.size-to-vw($laptop, 320/375 * 40px);
    }

    &__link {
        margin-left: auto;
    }

        &__return {
            background-color: transparent;
            outline: none;
            border-width: 0;
            display: flex;
            align-items: center;
            height: fit-content;
            padding-left: 0;
            padding-right: 0;
            margin-top: func.rem-size(31px);
            transition: all ease 0.25s;
            
            &:hover {
                margin-left: -4px;
                padding-right: 4px;
            }
        } 

        @include tablet-up {
        }
            &--icon {
                height: func.rem-size(20px);
                width: func.rem-size(20px);  
        }
    &__title {
        padding-left: 0.25em;

        @include header;
            margin-top: func.rem-size(24px);
            margin-bottom: func.rem-size(24px);
    }
    &__button {
        background-color: $instock;
        color: #fff;
        border-radius: 20px;
        margin-top: 26px;

        &--text {
            display: none;
        }

        &:hover {
            background-color: $cta-button;
        }

        @include instock-mobile-up {
            right: func.rem-size(44px);   
        }

        @include tablet-up {
            margin: 0.5em;

            @include flex-container($align: center, $spacing: center);
            padding-left: 16px;
            padding-right: 16px;
            margin-top: func.rem-size(28px);

                &--text {
                    display: contents;
                }
        }

        @include laptop-up {
            right: func.rem-size(158px);
            top: func.rem-size(114px);
        }
    }
}
