@use './functions' as func;
@use './typography' as *;
@use './variables' as *;

// mixins for mobile(375px) breakpoints.
@mixin instock-mobile-up {
    @media (min-width: $mobile-instock) {
        @content;
    }
}

// mixins for tablet(768px) breakpoints.
@mixin tablet-up {
    @media (min-width: $tablet) {
        @content;
    }
}

//mixins for desktop(1280px) breakpoints.
@mixin laptop-up {
    @media (min-width: $laptop) {
        @content;
    }
}

// Did this because so we can implement the strict width on the mockup for desktop.
@mixin desktop-up {
    @media (min-width: $desktop) {
        @content;
    }
}

// Mixins for various font sizes.
@mixin header {
    font-weight: 600;
    font-size: func.rem-size(25px);
    line-height: func.rem-size(34px);
    @include instock-mobile-up {
        font-size: func.rem-size(28px);
        line-height: func.rem-size(36px);
    }
    @include tablet-up {
        font-size: func.rem-size(32px);
        line-height: func.rem-size(40px);
    }
}
@mixin sub-header {
    font-size: func.rem-size(20px);
    line-height: func.rem-size(28px);
    font-weight: 600;

    @include tablet-up {
        font-size: func.rem-size(24px);
        line-height: func.rem-size(32px);
    }
}

@mixin paragraph-large {
    font-size: func.rem-size(15px);
    line-height: func.rem-size(26px);
    font-weight: 400;

    @include tablet-up {
        font-size: func.rem-size(16px);
        line-height: func.rem-size(28px);
    }
}

@mixin paragraph-medium {
    font-size: func.rem-size(13px);
    line-height: func.rem-size(20px);
    font-weight: 400;

    @include tablet-up {
        font-size: func.rem-size(14px);
        line-height: func.rem-size(22px);
    }
}

@mixin paragraph-small {
    font-size: func.rem-size(11px);
    line-height: func.rem-size(16px);
    font-weight: 400;

    @include tablet-up {
        font-size: func.rem-size(12px);
        line-height: func.rem-size(18px);
    }
}

@mixin important {
    @extend paragraph-medium !optional;
    font-weight: 600;
}

@mixin table-header {
    font-size: func.rem-size(11px);
    line-height: func.rem-size(16px);
    font-weight: 600;
    color: $table-headers;

    @include tablet-up {
        font-size: func.rem-size(12px);
        line-height: func.rem-size(18px);
    }
}

//flex container positions
@mixin flex-container($align: null, $spacing: null, $wrap: null) {
    display: flex;
    align-items: $align;
    justify-content: $spacing;
    flex-wrap: $wrap;
}
//instock tag
@mixin in-stock {
    @include table-header;
    color: $instock-label;
    background-color: rgba(21, 132, 99, 0.07);
    text-align: center;
    padding: 4px 8px 4px 8px;
    border-radius: 20px;
    width: fit-content;

}
//out of stock tag
@mixin out-of-stock {
    @include in-stock;
    color: $out-of-stock;
    background-color: rgba(201, 69, 21, 0.07);
}
