
$primary: #13182C;                  // Global text color
$secondary: #FFFFFF;                // Global White color
$cta-button: #232940;               // Top navigation header background,CTA button hover state background 
$dividers-borders: #BDC5D5;         // Outlines, dividers, borders, table sorting icon
$table-headers: #5C667E;            // Table column headers & placeholder text
$elements: #2E66E5;                 // Interactive elements 
$out-of-stock: #C94515;             // “Out of stock” label, error states & delete icon
$cta-background: #F7F8F9;           // Page background, table column header background, CTA background
$instock: #158463;                  // Instock label





