@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as mix;
@use '../../styles/partials/functions' as func;

.navbar {
    width: 100%;
    height: func.rem-size(200px);
    background-color: $cta-button;
    padding: func.rem-size(24px) 1rem;

    @include mix.tablet-up {
        height: func.rem-size(186px);
        padding: 0px func.size-to-vw($tablet, 32px);
        display: flex;
        justify-content: space-between;
    }

    @include mix.laptop-up {
        padding: 0px func.size-to-vw($laptop, 130px);
    }

    &__logo-wrap {
        display: flex;
        justify-content: center;
        margin-bottom: func.rem-size(24px);
        height: fit-content;

        @include mix.tablet-up {
            margin-top: func.rem-size(32px);
        }
    }

    &__logo-link {
        display: flex;
        align-items: center;
    }

    &__button-wrap {
        display: flex;
        justify-content: space-between;

        @include mix.tablet-up {
            margin-top: func.rem-size(27px);
            justify-content: flex-end;
        }
    }

    &__btn {
        box-sizing: border-box;
        width: 100%;
        height: func.rem-size(36px);
        border: none;
        color: $dividers-borders;
        background-color: $cta-button;
        @include mix.paragraph-medium;

        @include mix.tablet-up {
            height: func.rem-size(38px);
        }
    }

    &__btn-link {
        width: func.size-to-vw($mobile, 320/375 * 164px);
        height: fit-content;

        @include mix.tablet-up {
            width: func.size-to-vw($tablet, 107px);
        }
    }

    &--active{
        .navbar__btn {
            box-sizing: border-box;
            border-radius: func.rem-size(20px);
            background-color: $primary;
            color: $secondary;
        }
    }
}
