@use './partials/typography' as *;
@use './partials/functions' as func;
@use './partials/variables' as *;
@use './partials/mixins' as *;

* {
    box-sizing: border-box;
}

.divider {
    &--top {
        border-top: func.rem-size(1px) solid $dividers-borders;
    }
}

p {
    @include paragraph-large;
}

body {
    color: $primary;
    font-family: "Titillium Web", sans-serif;
    background-color: $body-background;
}

main {
    margin-top: func.rem-size(-64px);
    margin-left: func.size-to-vw($mobile, 320/375 * 16px);
    margin-right: func.size-to-vw($mobile, 320/375 * 16px);
    background-color: $secondary;
    border-radius: func.rem-size(3px);
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(19, 24, 44, 0.1);

    @include tablet-up {
        margin-top: func.rem-size(-94px);
        margin-left: func.size-to-vw($tablet, 32px);
        margin-right: func.size-to-vw($tablet, 32px);
    }

    @include laptop-up {
        margin-left: func.size-to-vw($laptop, 130px);
        margin-right: func.size-to-vw($laptop, 130px);
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

button {
    &:hover {
        cursor: pointer;
    }
}

.button {
    font-family: "Titillium Web", sans-serif;
    border-radius: 20px;
    height: 36px;
    border: none;
    display: inline-block;
    &:focus {
        outline: none;
    }  
}
::placeholder {
    color: $primary;
    font-family: "Titillium Web", sans-serif;
}