@use './partials/typography' as *;
@use './partials/variables' as *; 
@use './partials/mixins' as *;


body {
    color: $primary;
    font-family: 'Titillium Web', sans-serif;
}
// .App{
//     font-family: 'Titillium Web';
// }
h1, h2, h3, h4 {
    font-weight: 600;
}
.button {
    border-radius: 20px;
    height: 36px;
    border: none;
    display: inline-block;
    &:focus {
        outline: none;
    }
        
}